.Modal__content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.Modal {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: .6);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__close {
        color: gray;
        width: 25px;
        margin-top: -15px;
        font-size: 40px;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

    &__content {
        -ms-overflow-style: none;
        overflow-y: scroll;
        scrollbar-width: none;
        padding: 20px;
        border-radius: 12px;
        background-image: url(../images/Form__bg.png);
        transform: scale(0.5);
        transition: 0.4s;

        &.active {
            transform: scale(0.9);
        }
    }

    &__title {
        color: #fff;
        margin-top: 0;
        text-align: center;
        font-weight: 700;
        font-size: 21px;
    }

    .btn--Big {
        width: 100%;
    }

    button:disabled,
    button[disabled],
    button:disabled:hover {
        background-color: var(--primary);
        color: #fff;
        cursor: not-allowed;
    }

    .FormSection__form {
        padding-top: 0;
    }
}